rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /coordinates/{coordinate} {
      // Only authenticated users can read
      allow get: if request.auth != null;
      allow write: if false;
    }


    function authOrFields(){
      return (request.resource.data.keys().hasOnly(
      ['name', 'score']) && request.auth != null && request.resource.data.name is string && request.resource.data.score is number );
    }
    function requestAndTime(){
      return request.query.limit <= 11 && request.auth != null;
    }

    match /the-loc-nar/{score}
      {
      allow get: if request.auth != null;
      allow list: if requestAndTime();

      allow create: if authOrFields();
      allow update: if false;
      allow delete: if false;
    }
    match /universe-113/{score}
      {
      allow get: if request.auth != null;
      allow list: if requestAndTime();

      allow create: if authOrFields();
      allow update: if false;
      allow delete: if false;
    }
  }
}